
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #303030;
  font-weight: lighter;
  font-size: 100%;
  font-family: 'Junge', serif;
}


h1 {
  font-size: 2em;
  font-weight: lighter;
}
h2 {
  font-weight: lighter;
}

p {
  margin: 1em 0;
}

a {
  color: #3796AD;
  text-decoration: none;
}

a:hover {
  color: #395E7A;
  text-decoration: underline;
}

/* blog */

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
  border-bottom: 1px solid #eee;
}

ul.posts li h2 {
  font-weight: lighter;
  display: inline;
  font-size: 1.2em;
}
ul.posts li .post-meta {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 0.8em;
  display: inline;
  margin-left: 1em;
}


#nav-wrap {
  height: 3em;
  padding:  0 1em;
  color: #fefefe;
  background: #303030;
  display: block;
}

#logo {
  height: 3em;
  vertical-align: bottom;
}

#nav {
  height:100%;
  display:block;
  max-width: 800px;
  line-height: 3em;
  margin: auto auto;
}

#nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#nav > ul > li {
  display: inline-block;
  margin-left: 0.5em;
}
#nav > ul > li:first-child {
  margin-left: 0;
}

#nav > ul > li > a {
  display: inline-block;
  color: inherit;
}


#content-wrap {
  background: #fefefe url(bg.png) repeat;
}

#content {
  background-color: #fefefe;
  margin: auto auto;
  max-width: 800px;
  padding: 1em;
  padding-bottom: 6em;
  height: auto;
  border: solid #DDDFDE;
  border-width: 0 1px;
}

#foot-wrap {
  color: #fff;
  padding: 1em;
  font-size: 1em;
  font-family: monospace;
}

footer {
  max-width: 800px;
  margin: auto auto;
}

.footer-fieldset {
  position: relative;
  display: block;
  margin: 2em 0;
  border: 1px solid #444;
  border-radius: 3px;
}
.footer-fieldset-inner {
  position: relative;
  display: inline-block;
  margin: 0.2em .5em;
  margin-top: 0.7em;
}

.footer-legend {
  position: absolute;
  top: -0.7em;
  left: 0.5em;
  color: #44F599;
  background: #303030;
  padding:0.1em;
  display: inline-block;
}

.footer-fieldset-inner > p {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}



#home h1 {
  color: #555;
}


/* posts */ 
/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
