body {
  background-color: #fff;
  color: #070707;
}

#content {
  margin: auto auto;
  max-width: 800px;
  padding: 1em 1em 1em 1em;
  margin-bottom: 42px;
}

#footer {
  background: #f9f9f9;
  border-top: 1px solid #f1f1f1;
  /* height: 42px; */
  line-height: 42px;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0;
  margin: 0;
}

#footer-content {
  height: inherit;
  margin: auto auto;
  max-width: 800px;
  padding: 0 1em;
}
#footer .local {
  float: left;
}
#footer .external {
  float: right;
}

#footer span {
  color: #888;
  margin-left: 1.4em;
  margin-right: 0.4em;
}

#footer .external a {
  margin-right: 1em;
}

#footer .external a:last-child {
  margin-right: 0;
}


.post-list-item {
  display: block;
  margin: 1.5em 0;
  border-bottom: 2px solid #F1F1F1;
}

.post-header h2 {
  margin: 0;
}
/*.post-header div {
  margin-left: 1em;
}*/

.post-content {
  margin-top: 4em;
}

hr {
  border-top: 1px solid #f1f1f1;
}