<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
            {{ page.title }} - {{site.name}}
        </title>
        <meta name="viewport" content="width=device-width">
        <!-- fonts -->
        <link href='http://fonts.googleapis.com/css?family=Junge' rel='stylesheet' type='text/css'>
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div id="nav-wrap">
            <nav id="nav">
                <ul>
                    <li><a href="/?ref=logo"><img id="logo" src="/css/icon.png" alt="logo" /></a></li>
                    <li><a href="/?ref=menu">Articles</a></li>
                </ul>
            </nav>
        </div>

        <div id="content-wrap">
            <div id="content">
                {{content}}
            </div>
        </div>

        <div id="foot-wrap">
            <footer>
                <div class="footer-fieldset">
                    <div class="footer-legend">about</div>
                    <div class="footer-fieldset-inner">
                        <p>I am a software engineer at eTilbudsavis</p>
                    </div>
                </div>
                <div class="footer-fieldset">
                    <div class="footer-legend">contact</div>
                    <div class="footer-fieldset-inner">
                        <p>Want to say 'hi'? <script>document.write("hen-rik#@#tu#d-b.#or#g".replace(/#|-/g,""))</script></p>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>